<ul [hidden]="exibindoMenu" class="navbar-menu">
  <li class = "navbar-usuario">
    <span class="logo">
      <img src="assets/img/logo.png" alt="">
    </span>
  </li>
  <li class = "navbar-menuitem-titulo" > <i class="pi pi-book"></i> Gerir Livros
    <ul>
      <!-- <li class = "navbar-menuitem"> <a href="#"><i class="pi pi-list"></i> Listar </a></li> -->
      <li class = "navbar-menuitem"> <a routerLink="/professor/livros/listar/meus-livros"><i class="pi pi-list"></i> Listar Meus </a></li>
      <li class = "navbar-menuitem"> <a routerLink="/professor/livro/criar"> <i class="pi pi-plus"></i> Novo</a></li>
    </ul>
  </li>


</ul>
