<nav class="navbarTop">
    <div class="container">
      <div class="grid">
  
        <div class="col-12">
                <span>
                  <img style="width: 100px;" src="assets/img/logo.png" alt="">
                </span>
  
          <div class="itens">
            <button pButton type="button"   label="LogIn" id="btEntar" class="btao " (click)="LogIn()"></button>
            <a pButton type="button" label="Signup" id="btEntar" routerLink="/estudante/cadastro" ></a>
          </div>
  
  
        </div>
      </div>
  
    </div>
  
  
  </nav>

  
  
  
  
