<div class = "container">
<form #formulario="ngForm" ngForm (submit)="salvarConteudoLivro(formulario)">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <h1>Novo Livro</h1>
      </div>
      <div class="col-12 sm:col-12 md:col-6  p-fluid">
        <label for=""> Autor</label>
        <input placeholder="Insira o autor" type="text" pInputText [required]="true" ngModel name="autor" #autor = "ngModel">
        <app-mensagem-erro [control] = "$any(autor)" error="required" text="Informe o Autor" ></app-mensagem-erro>
      </div>

      <div class="col-12 sm:col-12 md:col-6  p-fluid">
        <label for=""> Disciplina </label>
        <input placeholder="Insira a disciplina" type="text" pInputText [required]="true" ngModel name="disciplina" #disciplina = "ngModel">
        <app-mensagem-erro [control] = "$any(disciplina)" error="required" text="Informe a Disciplina" ></app-mensagem-erro>
      </div>

      <div class="col-12 sm:col-12 md:col-6 p-fluid">
        <label for=""> Editora</label>
        <input [required]="true"  placeholder="Insira a editora" type="text" pInputText ngModel   name="editora" >
        <!-- <app-mensagem-erro [control] = "$any(editora)" error="required" text="Informe a Area de editora" ></app-mensagem-erro> -->
      </div>

      <div class="col-12 sm:col-12 md:col-6 p-fluid">
        <label for=""> Area de Conhecimento </label>
        <input placeholder="Insira a area de conmhecimento" type="text" pInputText [required]="true" ngModel name="areaDeConhecimento" #areaDeConhecimento = "ngModel">
        <app-mensagem-erro [control] = "$any(areaDeConhecimento)" error="required" text="Informe a area de conhecimento" ></app-mensagem-erro>
      </div>

      <div class="col-12  p-fluid">
        <label for=""> Descricao</label>
        <textarea [required]="true" placeholder="Insira a Descricao" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"  name="descricao" ></textarea>
      </div>

      <form enctype="multipart/form-data" #filel="ngForm"  ngForm >
           
        <input  
         type= "file" name="file"  
         class=" col-12 sm:col-12 md:col-6 p-fluid"
         accept="application/pdf"
         ngModel 
         (change)="uploadLivro($any($event).target.files[0])"
         accept="application/pdf"
         #file="ngModel" 
          style="
                font-size: 3rem;
                background-color: white;
                "
        >         
      </form>

      

      <div class="col-12" >
        <button type="submit" icon="pi pi-save" iconPos="left" label="Salvar" pButton [disabled]="!filel.dirty || formulario.invalid" ></button> &nbsp;
        <!-- <button type="reset" icon="pi pi-times" iconPos="left" pButton class="p-button-danger" label="Limpar"> </button> &nbsp;

        <a href="javascript" class="link-voltar"> Voltar para a pesquisa</a> -->
      </div>



    </div>

  </div>
</form>
</div>
